<a href="https://colab.research.google.com/github/PriyaMurali/Exploratory-Data-Analysis/blob/master/WalmartSolvedProb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [49]:
transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}

products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)

df_products = pd.DataFrame(products)
df_transactions['transaction_id'].count()
df_transactions.iloc[1]['product_id']
total_df=pd.DataFrame(columns=['transaction_id','product_id','amount','total_value'])
total_df

Empty DataFrame
Columns: [transaction_id, product_id, amount, total_value]
Index: []

In [50]:
#total_df=pd.DataFrame(columns={'transaction_id','product_id','amount	total_value'})
amount_value=0;
for i in range(5) :
  amount_value=df_transactions.iloc[i]['amount'] * df_products.iloc[i]['price']
  if amount_value > 100 :
    print('amount_value',amount_value)
    total_df.loc[len(total_df.index)] = [df_transactions.iloc[i]['transaction_id'], df_products.iloc[i]['product_id'], df_transactions.iloc[i]['amount'],amount_value]
total_df

amount_value 105.0
amount_value 120.0
amount_value 104.0

   transaction_id  product_id  amount  total_value
0             2.0       102.0     5.0        105.0
1             3.0       103.0     8.0        120.0
2             5.0       105.0     2.0        104.0